@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ITECOM</h1>
    <p class="lead">Bienvenue sur notre site de vente en ligne</p>
    <p><a class="btn btn-primary" href="http://localhost:49957/Register/Login">Connectez-Vous &raquo;</a></p>
</div>